<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1>{{ "Movie Rating" | localize }}</h1>
        </div>
      </div>
    </div>
  </section>
  
  <div class="card mb-4">
    <div class="card-header">
      <div class="media flex-wrap w-5 align-items-center">
        <img src="~/images/profilelogo_.jpg" class="d-block ui-w-20 rounded-circle" alt="">
        <div class="media-body ml-3">
          <h4>
            <a>Let's gather some Reviews</a>
          </h4>
        </div>
      </div>
    </div>
  </div>



</div>
